body {
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    
}  

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.value {
    font-size: 6rem;
}